@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
*{
	margin: 0px;
	padding: 0px;
}
body{
	height:  100%;
  background-image:linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, black, black 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
  font-family: 'Work Sans', sans-serif;
  line-height: 1.6



}
 a {
  text-decoration: none;
  font-size: 22px;
    
}
.headerContainer1 {
  margin: 0px auto;

}

.logo1{
	margin: 0px;
	float: left;
	padding:  15px;
}
header::after {
  content: '';
  display: table;
  clear: both;
}


nav{ 
	margin: 0 auto;
 }
nav ul {
  padding: 0;
  list-style: none;
  font-weight: bold;
  display: flex;
  justify-content: space-between;



}
nav li {
  display: inline-block;
  padding-top: 14px;
  margin-left: 100px;
  position: relative;

  
}
nav a {
  color: #fff;
  text-decoration: none;
  font-size: 22px;
    
}
nav a:hover{
	color: #000;
}
nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #000;
  position: absolute;
  top: 2px;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}


.title{
	text-align: center;
	color: #fff;
  padding: 10px;
}
.video {
	text-align: center;
}

#allCover{
  background-image: url(../res/webdev3.png);
  background-position: center;
  background-size: cover;
  height: 400px;
  width: 100%;
  line-height: 220px;
  padding: 80px 0px;


}
.cover-courses::before{
  content: 'Courses';
  font-size: 100px;
  text-shadow: 5px 2px rgb(12, 11, 11);
  color: white;
  display: inline-block;
  vertical-align: middle;

  }
  .cover-contact::before{
  content: 'Contact';
  font-size: 100px;
  text-shadow: 5px 2px rgb(12, 11, 11);  color: white;
  display: inline-block;
  vertical-align: middle;
  color: white;

  }
  .allCourses{
    margin: 40px 0px;
    
  }
  .coursesItem{
    display: inline-block;
    margin: 20px 20px;
    background-size: cover;
    overflow:hidden;
  }
  .coursesItem:hover{
    background-color:black;
    opacity: 0.5;
  }
  .btnCourses{
    margin-top:90px;
    margin-left: 120px;
    display:none;
    opacity: 0;

}
.btnCoursesHover{
    display:block;
    opacity: 1;

}


form{
  padding: 20px
}
form button{
  padding: px;
}
textarea{
  margin: 15px
}
.content h1{
  color: white;
}
.content {
  text-align: center;
}
label{ 
color: white;
margin:  20px;
 }
button{
  padding: 3px
 }
button a{
  text-decoration: none;
  color: black;
  font-size: 15px;
}
