@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
*{
	margin: 0px;
	padding: 0px;
}
body{
	height:  100%;
  background-image:linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, black, black 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);

}
.headerContainer  {
  margin: 0px auto;

}

.logo{
	margin: 0px;
	float: left;
	padding:  15px;
}
header::after {
  content: '';
  display: table;
  clear: both;
}


nav{ 
	margin: 0 auto;
	float: right;

 }
 nav ul {
  margin-right: 150px;
  padding: 0;
  list-style: none;
  font-weight: bold;


}
nav li {
  display: inline-block;
  padding-top: 18px;
  margin-left: 100px;
  position: relative;


}
nav a {
  color: #fff;
  text-decoration: none;
  font-size: 22px;
  font-family: 'Work Sans', sans-serif;
}
nav a:hover{
	color: #000;
}
nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #000;
  position: absolute;
  top: 2px;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}


.moreabout header{
	text-align: center;
	color: #fff;
  padding: 50px;
}
.video {
	text-align: center;
}

#cover{
  background-image: url(../res/webdev3.png);
  height: 450px;
  line-height: 450px;

}
.cover-courses::before{
  content: 'Courses';
  font-size: 70px;
  color: white;
  display: inline-block;
  vertical-align: middle;

  }
  .cover-contact::before{
  content: 'Contact';
  font-size: 70px;
  color: white;
  display: inline-block;
  vertical-align: middle;

  }
  .cover-contact::before{
  content: 'Contact';
  font-size: 70px;
  color: white;

  }
form{
  padding: 20px
}
form button{
  padding: px;
}
textarea{
  margin: 15px
}
.content h1{
  color: white;
}
.content {
  text-align: center;
}
label{ 
color: white;
margin:  20px;
 }
